.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  /* margin-top: -15rem; */
}

.detailsText {
  display: flex;
  flex-direction: column;
  margin-top: -22rem;
  margin-right: -10rem;
}

.container button {
  background-color: #96bf03;
  border: none;
  color: #fff;
  font-weight: 600;
}

.container a {
  text-decoration: none;
}

.reserveBtn {
  color: #fff;
  background-color: #96bf03;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  padding: 0 1rem;
  margin-top: 33rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 100;
  opacity: 0.8;
}
