.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  justify-content: space-between;
  padding: 1.5rem 0;
  background-color: #fff;
  border-right: 2px solid #f1f1f1;
  width: 250px;
  height: 100vh;
  position: fixed;
}

nav {
  width: 100%;
  padding-left: 1rem;
}

.pagenav {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

li {
  list-style: none;
}

nav li:hover {
  color: grey;
}

.pagenav a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 1rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer {
  gap: 1rem;
}

.footer p {
  font-size: 0.7rem;
}

.logo {
  font-size: 3rem;
}
