* {
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 1em;
  margin: 0;
}

.main-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin-left: 250px;
  padding-right: 0;
  margin-right: 0;
}

.service-main {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2em 3em;
  width: 100%;
}

.mySwiper {
  position: static;
  width: 100%;
  height: 100%;
}

.swiper-btn-next {
  display: flex;
  position: absolute;
  align-items: center;
  background-color: #96bf03;
  justify-content: start;
  right: 0;
  color: #fff;
  text-decoration: none;
  font-size: large;
  width: 48px;
  height: 48px;
  top: 50%;
  translate: 0 -50%;
  border-radius: 5px 16px 16px 5px;
  padding: 2em 0;
}

.swiper-btn-prev {
  display: flex;
  position: absolute;
  align-items: center;
  background-color: #96bf03;
  justify-content: end;
  left: 0;
  color: #fff;
  text-decoration: none;
  font-size: large;
  width: 48px;
  height: 48px;
  top: 50%;
  translate: 0 -50%;
  border-radius: 16px  5px 5px 16px;
  padding: 2em 0;
}

.swiper-btn:hover {
  background-color: gray;
  color: white;
}

.swiper-svg1 {
  height: 2em;
  text-align: center;
  transform: scaleX(-1);
}

.swiper-svg {
  height: 2em;
  text-align: center;
}

.swiper-slide {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-font {
  font-size: 1em;
}

.p-font {
  font-size: 0.8em;
}

.icons {
  display: flex;
  font-size: large;
  justify-content: center;
  gap: 0.3em;
}

.service-ul {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 3em;
}

.image {
  width: 250px;
  height: 250px;

  /* height: 5em; */

  /* border: 1px solid black; */
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
}

.services {
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

@media only screen and (max-width: 768px) {
  .swiper-btn-next,
  .swiper-btn-prev {
    width: 30px;
  }

  .main-home {
    width: 100%;
    padding: 1em;
  }
}
