* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.home {
  direction: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 5em;
  text-align: center;
}

.home-font {
  font-size: 0.5em;
}

.p-font {
  font-size: 0.3em;
}

.icons {
  display: flex;
  font-size: large;
  justify-content: center;
}

.service-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image {
  width: 5em;
  height: 5em;
  border: 1px solid black;
  object-fit: cover;
  margin: 0 auto;
}

.services {
  display: flex;
  margin-top: 1em;
  flex-direction: column;
}

/* .home {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
} */
